
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="file"] {
    width: 100%;
    margin: 5px 0;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.navbar-nav.mx-auto .nav-link {
    text-align: center;
}

input[type="submit"].custom-button {
    background-color: #FFD700;
    color: #FFFFFF;
    text-align: center;
    width: 250px;
 
    margin: 120px center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}



ul {
    list-style: none;
    padding: 0;
}


a.btn-eliminar {
    display: inline-block;
    padding: 8px 16px;
    background-color: gold;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a.btn-eliminar:hover {
    background-color: #ff2412;
}

